<!DOCTYPE html>
<html ng-app="App" ng-controller="Controller">

<head>
	<title>HashCloud</title>
		<link href='http://fonts.googleapis.com/css?family=Paytone+One|Contrail+One|Josefin+Sans|Limelight|Abril+Fatface|Changa+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="../static/jquery-2.0.3.js"></script>
	<script src="../static/angular.js"></script>
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script> -->
	<script src="../static/app.js"></script>
	<script src="../static/colorbrewer.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="../static/d3.layout.cloud.js"></script>
	<script src="../static/wordcloud.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Paytone+One|Contrail+One|Josefin+Sans|Limelight|Abril+Fatface|Changa+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../static/wordcloud.css">

</head>

<body>

	<div class="lookupform">
	    <form id="hashform">
	    	<label>#</label>
	    	<input ng-model="wordtograph" type="text" name="word" id="word" autofocus="autofocus" placeholder = "Enter word or phrase" />
	    	<input type="submit" value="Go" id="submitbutton">
		</form>

	</div>

	<div><p ><span class="loading" ng-show="wordtograph"> Graphing {{ wordtograph }} ...</span></p></div>
	<svg> </svg>


</body>
</html>